<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> -->

    <link rel="stylesheet" href="/static/analytics.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Predictive Analytics</title>
   

   </style>
</head>

<body>
    
    <div class="bg-image"></div>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>RecruitNex</h2>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/Admin.html">
                        <i class="fas fa-th-large"></i>
                        <div >DASHBOARD</div>
                        </a>
                        <!-- <div class="nested"> -->
                                
                                <li>
                                    <a href="/insights.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>COMPANY INSIGHTS</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/analysis.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>SALARY ANALYSIS</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/trends.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>PLACEMENT TRENDS</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/analytics.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>PREDICTIVE ANALYTICS</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>STUDENT PROFILE</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/feedback.html">
                                        <i class="fas fa-chart-bar"></i>
                                        <div>FEEDBACK</div>
                                    </a>
                                </li>
                    </div>
                    </a>
                </li>
</div>
<!-- main content  -->
<div class="main">
    <div class="details form">
        <header>enter the details</header>
        <!-- <form action="/analytics.html" method="POST">
         
          <input type="text" name=cpi id=cpi placeholder="CPI ( As per your last declare result )">
          <input type="text" name=projects id=projects placeholder="internships/no_of_projects">
          <input type="text" name=hackathon id=hackathon placeholder="no_of_hackathons">
          <input type="text" name=skills id=skills placeholder="skills">
          <input type="text" name=branch id=branch placeholder="Specialization/Branch">
          <input type="text" name=gender id=gender placeholder="Gender">
          
          <input type="submit" class="button" value="submit">
        </form> -->
        <form action="/analytics.html" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">CPI</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name=cpi placeholder="CPI ( As per your last declare result )">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">internships/no_of_projects</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="projects" placeholder="internships/no_of_projects">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">no_of_hackathons</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name=hackathon placeholder="no_of_hackathons">
                
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">skills</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name=skills placeholder="skills">
               
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Specialization/Branch</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name=branch placeholder="Specialization/Branch">
                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">gender</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name=gender placeholder="Gender">
               
            </div>
           
            <input type="submit" class="btn btn-primary" value="submit">Submit</input>
          </form>

        <div>
            <header> 
                {% if(result == 1) %} 
                    <h3>you are placed</h3> 
                {% elif(result == 0) %} 
                    <h3> you are not placed </h3> 
                {% else %} 
                    <h3> wait</h3> 
                {% endif %} 
            </header>
        </div>
       
      </div>      
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     -->
   
</body>

</html>