<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/page.css">
    <title>Student Details</title>
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>RecruitNex</h2>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/Admin.html">
                        <i class="fas fa-th-large"></i>
                        <div >DASHBOARD</div>
                    </a>
                </li>
                <li>
                    <a href="/insights.html">
                        <i class="fas fa-chart-bar"></i>
                        <div>COMPANY INSIGHTS</div>
                    </a>
                </li>
                <li>
                    <a href="/analysis.html">
                        <i class="fas fa-chart-bar"></i>
                        <div>SALARY ANALYSIS</div>
                    </a>
                </li>
                <li>
                    <a href="/trends.html">
                        <i class="fas fa-chart-bar"></i>
                        <div>PLACEMENT TRENDS</div>
                    </a>
                </li>
                <li>
                    <a href="/analytics.html">
                        <i class="fas fa-chart-bar"></i>
                        <div>PREDICTIVE ANALYTICS</div>
                    </a>
                </li>
                <li>
                    <a href="/page.html">
                        <i class="fas fa-chart-bar"></i>
                        <div>STUDENT PROFILE</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <div>FEEDBACK</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
          <div class="card">
              <div class="card-header">
                  <img src="C:\Users\maitr\OneDrive\Documents\sem 6 project\student image.png" alt="Student DP" style="max-width: 100px; max-height: 100px;">
                  <h3><centre>Maitri Shah</centre></h3>
              </div>
              <div class="card-content">
                  <p><strong>Enrollment Number:</strong> 21BEI30122</p><br>
                  <p><strong>Program:</strong> Bachelors</p><br>
                  <p><strong>Graduation Course:</strong> IT</p><br>
              </div>
          </div>
          <div class="card-content">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
              </div>
              <div class="card-body pt-0">
                  <!-- General Information Table -->
                  <table class="table table-bordered">
                      <tr>

                        <th width="30%">Gender</th>
                        <td width="2%">:</td>
                        <td>Female</td>
                      </tr><br>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Email</th>
                        <td width="2%">:</td>
                        <td>maitrishah49@gmail.com</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                      <tr>
                        <th width="30%">Phone number</th>
                        <td width="2%">:</td>
                        <td>7443212132</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      
                      <tr>
                          <th width="30%">Date of Birth</th>
                          <td width="2%">:</td>
                          <td>01-01-2000</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">Address</th>
                          <td width="2%">:</td>
                          <td>ABC</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">City</th>
                          <td width="2%">:</td>
                          <td>Ahmedabad</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">State</th>
<td width="2%">:</td>
                          <td>Gujrat</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                  </div>
                </div><br><br>
                <div class="col-lg-8">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Academic Details</h3>
                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">10th Percentage</th>
                          <td width="2%">:</td>
                          <td>89%</td>
                        </tr><br>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">12th Percentage</th>
                          <td width="2%">:</td>
                          <td>81%</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">Graduation Course</th>
                          <td width="2%">:</td>
                          <td>IT</td>
</tr>
<tr>
  <td>
    &nbsp;
  </td>
</tr>
                        <tr>
                          <th width="30%">Program</th>
                          <td width="2%">:</td>
                          <td>Bachelors</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">Enrollment number</th>
                          <td width="2%">:</td>
                          <td>21BEIT30122</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                            <th width="30%">Year of Passing</th>
                            <td width="2%">:</td>
                            <td>2025</td>
                          </tr>
                          <tr>
                            <td>
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <th width="30%">Average GPA</th>
                            <td width="2%">:</td>
                            <td>8.11</td>
                          </tr>
                          <tr>
                            <td>
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <th width="30%">Institute</th>
                            <td width="2%">:</td>
                            <td>LDRP Institute of Technology and Research</td>
                          </tr>
                          <tr>
                            <td>
                              &nbsp;
                            </td>
                          </tr>
                      </table>
              </div>
          </div>
          <!-- Academic Details Card -->
          <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
<h3 class="mb-0"><i class="far fa-clone pr-1"></i>Academic Details</h3>
              </div>
              <div class="card-body pt-0">
                  <!-- Academic Details Table -->
                  <table class="table table-bordered">
                      <tr>
                        <th width="30%">10th Percentage</th>
                        <td width="2%">:</td>
                        <td>89%</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">12th Percentage</th>
                        <td width="2%">:</td>
                        <td>81%</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Graduation Course</th>
                        <td width="2%">:</td>
                        <td>IT</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Program</th>
                        <td width="2%">:</td>
                        <td>Bachelors</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Enrollment number</th>
                        <td width="2%">:</td>
                        <td>21BEIT30122</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                          <th width="30%">Year of Passing</th>
<td width="2%">:</td>
                          <td>2025</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">Average GPA</th>
                          <td width="2%">:</td>
                          <td>8.11</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <th width="30%">Institute</th>
                          <td width="2%">:</td>
                          <td>LDRP Institute of Technology and Research</td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                    </table>
              </div>
          </div>
          <!-- Skills Card -->
          <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Skills</h3>
              </div>
              <div class="card-body pt-0">
                  <!-- Skills Table -->
                  <table class="table table-bordered">
                      <tr>
                        <th width="30%">Technical Skills</th>
                        <td width="2%">:</td>
                        <td>1. Web - Frontend (HTML,CSS,JS)<br> 2. Languages - C,C++,Java</td>
                      </tr><br>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Non-Technical Skills</th>

<td width="2%">:</td>
                        <td>1. Communication skills <br> 2. Leadership<br>3. Problem solving</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                    </table>
              </div>
          </div>
          <!-- Internships and Projects Card -->
          <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Internships and Projects</h3>
              </div>
              <div class="card-body pt-0">
                  <!-- Internships and Projects Table -->
                  <table class="table table-bordered">
                      <tr>
                        <th width="30%">Internships</th>
                        <td width="2%">:</td>
                        <td>ABC</td>
                      </tr><br>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <th width="30%">Projects</th>
                        <td width="2%">:</td>
                        <td>XYZ</td>
                      </tr>
                      <tr>
                        <td>
                          &nbsp;
                        </td>
                      </tr>
                    </table>
</div>
          </div>
      </div>
  </div>
</div>
</div>

        </div>
    </div>
</body>
</html> 
